/*ridk


*/

:root {
    --primary-color: #00203F;
    --secondary-color: #ADEFD1;
}
.reenie-beanie-regular {
    font-family: "Reenie Beanie", cursive;
    font-weight: 400;
    font-style: normal;
}
.xbg-primary {
    background-color: var(--primary-color);
}
.xbg-secondary {
    background-color: var(--secondary-color);
}
.xtext-primary {
    color: var(--primary-color);
}
.xtext-secondary {
    color: var(--secondary-color);
}
.xbtn-primary {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.xbtn-secondary {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}